.container{
	width:100%;
	height:auto;
}
.contact-container{
	margin:auto;
	width:90%;
	padding:70px 0px;
}
.contact-header{
	text-align:center;
}
.contact-header p{
	font-size:14px;
	padding:12px 0px;
	color:blue;
}
.contact-header h4{
	font-size:22px;
	font-weight:bold;
}
.contact-lefts{
	margin-top:35px;
	padding:25px 10px;
}
.contact-left-one{
	background-color:#fafafa;
	border-radius:8px;
	padding:15px 30px;
}
.left-one{
	padding:10px;
}
.contact-left-one i{
	font-size:22px;
	padding:8px;
}
.contact-left-one h4{
	font-size:20px;
	padding:8px;
	font-weight:bold;
}
.contact-left-one p{
	font-size:16px;
	padding:8px;
	line-height:25px;
}
.foot-rights{
	background-color:#fafafa;
	margin-top:35px;
	padding:25px 10px;
	border-radius:8px;
}
.form-names{
	display:flex;
	flex-direction:column;
}
.form-names input{
	padding:10px;
	margin:15px;
	width:88%;
	border:none;
	outline:1px solid #d5d7db;
	border-radius:6px;
}
.form-subs input{
	padding:10px;
	margin:15px;
	width:88%;
	border:none;
	outline:1px solid #d5d7db;
	border-radius:6px;
}
.form-texts textarea{
	padding:10px;
	margin:15px;
	width:88%;
	border:none;
	outline:1px solid #d5d7db;
	border-radius:6px;
}
.foot-rights form button{
    padding: 10px 25px;
    border-radius: 10px;
	background-color:#3874d6;
	font-size:15px;
	color:#fff;
	border:1px solid #3874d6;
}
@media(min-width:768px){
	.container{
	width:100%;
	height:auto;
}
.contact-container{
	margin:auto;
	width:90%;
	padding:70px 0px;
}
.contact-header{
	text-align:center;
}
.contact-header p{
	font-size:14px;
	padding:12px 0px;
	color:blue;
}
.contact-header h4{
	font-size:22px;
	font-weight:bold;
}
.contact-conts{
	display:flex;
	flex-direction:column;
}
.contact-lefts{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
.contact-rights{
	padding:12px 0px;
}
.contact-left-one{
	background-color:#fafafa;
	border-radius:8px;
	padding:15px 30px;
}
.left-one{
	padding:10px 15px;
	width:50%;
}
.contact-left-one i{
	font-size:22px;
	padding:8px;
}
.contact-left-one h4{
	font-size:20px;
	padding:8px;
	font-weight:bold;
}
.contact-left-one p{
	font-size:16px;
	padding:8px;
	line-height:25px;
}
.foot-rights{
	background-color:#fafafa;
	margin-top:35px;
	padding:60px 10px;
	border-radius:8px;
}
.form-names{
	display:flex;
	flex-direction:row;
}
.form-names input{
	padding:15px 10px;
	margin:15px;
	width:50%;
	border:none;
	outline:1px solid #d5d7db;
	border-radius:6px;
}
.form-subs input{
	padding:15px 10px;
	margin:15px;
	width:88%;
	border:none;
	outline:1px solid #d5d7db;
	border-radius:6px;
}
.form-texts textarea{
	padding:15px 10px;
	margin:15px;
	width:88%;
	border:none;
	outline:1px solid #d5d7db;
	border-radius:6px;
}
.foot-rights form button{
    padding: 10px 25px;
    border-radius: 10px;
	background-color:#3874d6;
	font-size:15px;
	color:#fff;
	border:1px solid #3874d6;
}
}
@media(min-width:992px){
	.container{
	width:100%;
	height:auto;
}
.contact-container{
	margin:auto;
	width:90%;
	padding:70px 0px;
}
.contact-header{
	text-align:center;
}
.contact-header p{
	font-size:14px;
	padding:12px 0px;
	color:blue;
}
.contact-header h4{
	font-size:22px;
	font-weight:bold;
}
.contact-conts{
	display:flex;
	flex-direction:row;
}
.contact-lefts{
	display:flex;
	justify-content:space-evenly;
	flex-wrap:wrap;
	width:50%;
}
.contact-rights{
	padding:12px 10px;
	width:50%;
	margin-top:30px;
	
}
.contact-left-one{
	background-color:#fafafa;
	border-radius:8px;
	padding:15px 30px;
}
.left-one{
	width:50%;
	padding:10px 15px ;
}
.contact-left-one i{
	font-size:22px;
	padding:8px;
}
.contact-left-one h4{
	font-size:20px;
	padding:8px;
	font-weight:bold;
}
.contact-left-one p{
	font-size:16px;
	padding:8px;
	line-height:25px;
}
.foot-rights{
	background-color:#fafafa;
	margin-top:35px;
	padding:60px 10px;
	border-radius:8px;
}
.form-names{
	display:flex;
	flex-direction:row;
}
.form-names input{
	padding:15px 10px;
	margin:15px;
	width:50%;
	border:none;
	outline:1px solid #d5d7db;
	border-radius:6px;
}
.form-subs input{
	padding:15px 10px;
	margin:15px;
	width:88%;
	border:none;
	outline:1px solid #d5d7db;
	border-radius:6px;
}
.form-texts textarea{
	padding:15px 10px;
	margin:15px;
	width:88%;
	border:none;
	outline:1px solid #d5d7db;
	border-radius:6px;
}
.foot-rights form button{
    padding: 10px 25px;
    border-radius: 10px;
	background-color:#3874d6;
	font-size:15px;
	color:#fff;
	border:1px solid #3874d6;
}
}